In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("/content/drive/MyDrive/lot3_cleaned_outliers_removed.csv")
df.head()

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending
0,Mens Jogging Bottoms Elasticated Trouser Jogge...,14.48,Crazy Girl Ltd,New with tags,(approx C $10.20),"London, United Kingdom",14 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,203K,Yes/3
1,Men's 100% Cotton Big Polka Dot Design Spread...,29.19,George/Fortino Landi,New with tags,(approx C $7.30),"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,49K,Yes/56
2,G-Unit Style heavy weigh Tank Top Square Cut ...,15.89,Basix,New with tags,(approx C $25.88),"Desoto, Texas, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,207K,Yes/5
3,Men's Fashion Oxford Faux Leather Dress Shoes...,33.23,Milano Moda & Alberto Fellini,New with box,(approx C $56.04),"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,49K,Yes/715
4,Women's Cute Caged Peep Toe Low High Platform ...,15.81,Top Moda,New without box,(approx C $30.72),"South San Francisco, California, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,326K,No

** **DATA CLEANING**

In [29]:
df['shipping']

0        (approx C $10.20)
1         (approx C $7.30)
2        (approx C $25.88)
3        (approx C $56.04)
4        (approx C $30.72)
               ...
15912    (approx C $15.82)
15913    (approx C $33.24)
15914                 Free
15915                 Free
15916                 Free
Name: shipping, Length: 15917, dtype: object

In [30]:
import re

df['shipping'] = df['shipping'].apply(lambda x: re.sub('[^\d.]', '', x))
df['trending'] = df['trending'].apply(lambda x: re.sub('[^\d.]', '', x))


df.head()

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending
0,Mens Jogging Bottoms Elasticated Trouser Jogge...,14.48,Crazy Girl Ltd,New with tags,10.20,"London, United Kingdom",14 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,203K,3
1,Men's 100% Cotton Big Polka Dot Design Spread...,29.19,George/Fortino Landi,New with tags,7.30,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,49K,56
2,G-Unit Style heavy weigh Tank Top Square Cut ...,15.89,Basix,New with tags,25.88,"Desoto, Texas, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,207K,5
3,Men's Fashion Oxford Faux Leather Dress Shoes...,33.23,Milano Moda & Alberto Fellini,New with box,56.04,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,49K,715
4,Women's Cute Caged Peep Toe Low High Platform ...,15.81,Top Moda,New without box,30.72,"South San Francisco, California, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,326K,

In [31]:
df['shipping'] = df['shipping'].fillna(0)

In [32]:
df['shipping'] = df['shipping'].replace("",0)

df['trending'] = df['trending'].replace("",0)

In [33]:
df

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending
0,Mens Jogging Bottoms Elasticated Trouser Jogge...,14.48,Crazy Girl Ltd,New with tags,10.20,"London, United Kingdom",14 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,203K,3
1,Men's 100% Cotton Big Polka Dot Design Spread...,29.19,George/Fortino Landi,New with tags,7.30,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,49K,56
2,G-Unit Style heavy weigh Tank Top Square Cut ...,15.89,Basix,New with tags,25.88,"Desoto, Texas, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,207K,5
3,Men's Fashion Oxford Faux Leather Dress Shoes...,33.23,Milano Moda & Alberto Fellini,New with box,56.04,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,49K,715
4,Women's Cute Caged Peep Toe Low High Platform ...,15.81,Top Moda,New without box,30.72,"South San Francisco, California, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,326K,0
...,...,...,...,...,...,...,...,...,...,...,...
15912,Birkenstock Mules Mens 11 Boston Clogs Shoes C...,106.34,Birkenstock,Pre-owned,15.82,"Seekonk, Massachusetts, United States",30 days return . Seller pays for return shipp...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,5.9K,0
15913,Harley Davidson Boots - Sz Mens 10.5,86.44,Harley-Davidson,Pre-owned,33.24,"Krotz Springs, Louisiana, United States",No returns accepted .,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,17,0
15914,Soft Cloud Slippers Flip Flops Thick Sole Non ...,23.91,Unbranded,New without box,0,"china, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,867,0
15915,Crocs Like for Men Graffiti Lightweight Comfor...,25.25,Unbranded,New with box,0,"Shanghai, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,547,0
15916,Mens Womens Hole Shoes Slipper Couples Beach C...,11.95,Unbranded,New without box,0,"guangzhou, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,91,0

In [83]:
#remove the  K sign() in the seller_item_sold column
df['seller_item_sold'] = df['seller_item_sold'].str.replace("K", ",000")
df['seller_item_sold'] = df['seller_item_sold'].str.replace("M", "000,000")

In [84]:
df

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending
0,Mens Jogging Bottoms Elasticated Trouser Jogge...,14.48,Crazy Girl Ltd,New with tags,10.20,"London, United Kingdom",14 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,203000,3
1,Men's 100% Cotton Big Polka Dot Design Spread...,29.19,George/Fortino Landi,New with tags,7.30,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,49000,56
2,G-Unit Style heavy weigh Tank Top Square Cut ...,15.89,Basix,New with tags,25.88,"Desoto, Texas, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,207000,5
3,Men's Fashion Oxford Faux Leather Dress Shoes...,33.23,Milano Moda & Alberto Fellini,New with box,56.04,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,49000,715
4,Women's Cute Caged Peep Toe Low High Platform ...,15.81,Top Moda,New without box,30.72,"South San Francisco, California, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,326000,0
...,...,...,...,...,...,...,...,...,...,...,...
15912,Birkenstock Mules Mens 11 Boston Clogs Shoes C...,106.34,Birkenstock,Pre-owned,15.82,"Seekonk, Massachusetts, United States",30 days return . Seller pays for return shipp...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,5.9000,0
15913,Harley Davidson Boots - Sz Mens 10.5,86.44,Harley-Davidson,Pre-owned,33.24,"Krotz Springs, Louisiana, United States",No returns accepted .,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,17,0
15914,Soft Cloud Slippers Flip Flops Thick Sole Non ...,23.91,Unbranded,New without box,0,"china, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,867,0
15915,Crocs Like for Men Graffiti Lightweight Comfor...,25.25,Unbranded,New with box,0,"Shanghai, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,547,0
15916,Mens Womens Hole Shoes Slipper Couples Beach C...,11.95,Unbranded,New without box,0,"guangzhou, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,91,0

*LINEAR REGRESSSION IMPLEMENTATION*

In [42]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [43]:
df.columns

Index(['name', 'price', 'brand', 'item_condition', 'shipping', 'located_in',
       'return_policy', 'category', 'money_back', 'seller_item_sold',
       'trending'],
      dtype='object')

In [72]:
df

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending
0,Mens Jogging Bottoms Elasticated Trouser Jogge...,14.48,Crazy Girl Ltd,New with tags,10.20,"London, United Kingdom",14 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,203000,3
1,Men's 100% Cotton Big Polka Dot Design Spread...,29.19,George/Fortino Landi,New with tags,7.30,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,49000,56
2,G-Unit Style heavy weigh Tank Top Square Cut ...,15.89,Basix,New with tags,25.88,"Desoto, Texas, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Clothi...",Yes,207000,5
3,Men's Fashion Oxford Faux Leather Dress Shoes...,33.23,Milano Moda & Alberto Fellini,New with box,56.04,"Ridgewood, New York, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,49000,715
4,Women's Cute Caged Peep Toe Low High Platform ...,15.81,Top Moda,New without box,30.72,"South San Francisco, California, United States",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,326000,0
...,...,...,...,...,...,...,...,...,...,...,...
15912,Birkenstock Mules Mens 11 Boston Clogs Shoes C...,106.34,Birkenstock,Pre-owned,15.82,"Seekonk, Massachusetts, United States",30 days return . Seller pays for return shipp...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,5.9000,0
15913,Harley Davidson Boots - Sz Mens 10.5,86.44,Harley-Davidson,Pre-owned,33.24,"Krotz Springs, Louisiana, United States",No returns accepted .,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,17,0
15914,Soft Cloud Slippers Flip Flops Thick Sole Non ...,23.91,Unbranded,New without box,0,"china, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Women/Women's Sh...",Yes,867,0
15915,Crocs Like for Men Graffiti Lightweight Comfor...,25.25,Unbranded,New with box,0,"Shanghai, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,547,0
15916,Mens Womens Hole Shoes Slipper Couples Beach C...,11.95,Unbranded,New without box,0,"guangzhou, China",30 days return . Buyer pays for return shippi...,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",Yes,91,0

In [85]:
X = df[['trending','shipping','price']]
y = df['seller_item_sold']

In [86]:
result=model.fit(X, y)
print(model.coef_)

[ 151.57149571  938.4138255  -386.88197904]

In [87]:
#Intercept and Coefficient
print("Intercept: ", result.intercept_)
print("Coefficients:")
print(model.coef_)

Intercept:  69901.80397084737
Coefficients:
[ 151.57149571  938.4138255  -386.88197904]

In [90]:
#import numpy as np
#np.asarray(price)

type(df['price'])

pandas.core.series.Series

In [91]:
df['shipping'] = pd.to_numeric(df['shipping'])
df['trending'] = pd.to_numeric(df['trending'])
df['price'] = pd.to_numeric(df['price'])
df['seller_item_sold'] = pd.to_numeric(df['seller_item_sold'])

In [106]:
import statsmodels.api as sm
model1 = sm.OLS(df["seller_item_sold"], df['price'])
resul = model1.fit()
print(resul.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       seller_item_sold   R-squared (uncentered):                   0.075
Model:                            OLS   Adj. R-squared (uncentered):              0.075
Method:                 Least Squares   F-statistic:                              1287.
Date:                Wed, 12 Jul 2023   Prob (F-statistic):                   3.60e-271
Time:                        11:30:57   Log-Likelihood:                     -2.1071e+05
No. Observations:               15917   AIC:                                  4.214e+05
Df Residuals:                   15916   BIC:                                  4.214e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
price        541.7735     15.100     35.879      0.000     512.176     571.371
==============================================================================
Omnibus:                    10937.697   Durbin-Watson:                   1.482
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           134289.441
Skew:                           3.276   Prob(JB):                         0.00
Kurtosis:                      15.632   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [104]:
df.columns

Index(['name', 'price', 'brand', 'item_condition', 'shipping', 'located_in',
       'return_policy', 'category', 'money_back', 'seller_item_sold',
       'trending'],
      dtype='object')

seller_item_sold is the dependent whereas trending is independent

---

In [105]:

import statsmodels.api as sm
model = sm.OLS(df["seller_item_sold"], df['trending'])
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       seller_item_sold   R-squared (uncentered):                   0.080
Model:                            OLS   Adj. R-squared (uncentered):              0.080
Method:                 Least Squares   F-statistic:                              1377.
Date:                Wed, 12 Jul 2023   Prob (F-statistic):                   3.90e-289
Time:                        11:27:54   Log-Likelihood:                     -2.1067e+05
No. Observations:               15917   AIC:                                  4.213e+05
Df Residuals:                   15916   BIC:                                  4.214e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
trending     294.6026      7.939     37.107      0.000     279.041     310.165
==============================================================================
Omnibus:                    11187.196   Durbin-Watson:                   1.473
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           155880.286
Skew:                           3.324   Prob(JB):                         0.00
Kurtosis:                      16.814   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.